<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>

    <div class="container">
        <img src="/images/disenioDescartes.webp" width="140px" alt="" />
        <img src="/images/disenioUNAM.svg" width="130px" alt="" />
    </div>
    <h1>Preficha de Inscripción</h1>

    <h2>Fecha del trámite: [[${fechaFormateada}]] </h2>
    <br/>
    <h3>ALUMNO ASPIRANTE</h3>
    <h4> Nombre: [[${nameC}]]</h4>
    <h4>Curp: [[${curp}]]</h4>
    <h4>Email: [[${emailAspirant}]]</h4>
    <h4>Telefono: [[${phoneAspirant}]]</h4>
    <h4>Nivel Solicitado: Bachillerato</h4>
    <br/>
    <H3>PADRE O TUTOR</H3>
    <h4> Nombre: [[${namePT}]]</h4>
    <h4>Email: [[${email}]]</h4>
    <h4>Telefono: [[${telefono1}]]</h4>

    <br/>
    <br/>
    <br/>
    <h5>
        Av. El Cipés No. 480, Col. Mactumtazá. C.P. 29065, Tuxtla Gutiérrez, Chiapas. Tel: (961)
        <br/>
        121 4760
        <br/>
        www.udescartes.edu.mx
    </h5>
</body>
</html>